<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0">
  <localRepository>D:/Code/BookingHotel/m2-repo</localRepository>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>Maven Central</name>
      <url>https://repo.maven.apache.org/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>